# {{ ansible_managed }}
# Reverse proxy for the tailnet. Reachable only over Tailscale, even though
# the domain itself is public - see caddy_bind_address.

{{ caddy_public_fqdn }} {
{% if caddy_bind_address %}
	bind {{ caddy_bind_address }}
{% endif %}
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}

	encode zstd gzip

	log {
		output file /var/log/caddy/access.log
		format console
	}

{% for site in caddy_sites %}
	handle_path {{ site.path }}/* {
		reverse_proxy {{ site.upstream }} {
{% if site.host_header is defined %}
			header_up Host {{ site.host_header }}
{% endif %}
			header_up X-Forwarded-Host {host}
		}
	}

{% endfor %}
	handle {
		respond "caddy on {{ inventory_hostname }} - routes:{% for site in caddy_sites %} {{ site.path }}{% endfor %}" 200
	}
}
