# {{ ansible_managed }}
# Reverse proxy for the tailnet. Reachable only over Tailscale, even though
# the domains themselves are public - see caddy_bind_address.

{% for vhost in caddy_vhosts %}
{% if not loop.first %}

{% endif %}
{{ vhost.fqdn }} {
{% if caddy_bind_address %}
	bind {{ caddy_bind_address }}
{% endif %}
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
	}

	encode zstd gzip

	log {
		output file /var/log/caddy/access-{{ vhost.fqdn }}.log
		format console
	}

	reverse_proxy {{ vhost.upstream }} {
{% if vhost.host_header is defined %}
		header_up Host {{ vhost.host_header }}
{% endif %}
		header_up X-Forwarded-Host {host}
	}
}
{% endfor %}
