# {{ ansible_managed }}
[Unit]
Description=Renew tailscale TLS certificate for {{ caddy_tailnet_fqdn }}
After=tailscaled.service
Wants=tailscaled.service

[Service]
Type=oneshot
ExecStart=/usr/bin/tailscale cert --cert-file {{ caddy_cert_dir }}/{{ caddy_tailnet_fqdn }}.crt --key-file {{ caddy_cert_dir }}/{{ caddy_tailnet_fqdn }}.key {{ caddy_tailnet_fqdn }}
ExecStartPost=/bin/chown caddy:caddy {{ caddy_cert_dir }}/{{ caddy_tailnet_fqdn }}.crt {{ caddy_cert_dir }}/{{ caddy_tailnet_fqdn }}.key
ExecStartPost=/bin/chmod 0640 {{ caddy_cert_dir }}/{{ caddy_tailnet_fqdn }}.crt {{ caddy_cert_dir }}/{{ caddy_tailnet_fqdn }}.key
ExecStartPost=/bin/systemctl reload caddy
