server {
    server_name ci.{{ fqdn }};

    listen       443 ssl;

    ssl_certificate /etc/letsencrypt/live/{{ fqdn }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ fqdn }}/privkey.pem;

    location / {
        proxy_pass         http://localhost:8080/;
        
        proxy_set_header   Host              $host;
        proxy_set_header   X-Real-IP         $remote_addr;
        proxy_set_header   X-Forwarded-For   $proxy_add_x_forwarded_for;
        proxy_set_header   X-Forwarded-Proto $scheme;
    }
}
