server {
    server_name ci.{{ fqdn }};

    listen       443 ssl;

    ssl_certificate /etc/letsencrypt/live/{{ fqdn }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ fqdn }}/privkey.pem;

    access_log            /var/log/nginx/jenkins.access.log;
    error_log             /var/log/nginx/jenkins.error.log;

    location / {
        include /etc/nginx/proxy_params;
        proxy_pass          http://localhost:8080;
        proxy_read_timeout  90s;
        # Fix potential "It appears that your reverse proxy setup is broken" error.
        proxy_redirect      http://localhost:8080 https://ci.santoshk.dev;
    }
}
